@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');


* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Silkscreen", serif;
    height: 100vh;
    background-image: url('../img/background\ 01.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    font-size: 15px;
}

.logo , .logo-button{
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
    font-family: "Press Start 2P", serif;
    display: flex;
    text-decoration: none;
    padding: 1px 9px;
    letter-spacing: 2px;
}


.nav-link{
    color: #4aa8f5;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 16px;
}

.nav-link#about{
    color: white;
}


ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}


li{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

main{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.first{
    width: 50%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.second{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    display: flex;
    width: 700px;
    height: 250px;
    margin-left: 170px;
    margin-top: 80px;
    font-size: 24px;
    color: #219bff;
    font-family: "Press Start 2P";
    line-height: 59px;
    -webkit-text-stroke: 1px #1d8ae4;
}

.subtitle{
    font-size: 20px;
    color: white;
    width: 750px;
    margin-left: 110px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.5);
    padding: 12px 12px;
    border-radius: 20px;
}

#video_about{
    border-radius: 300px;
    margin-left: 60px;
    border: 5px #1a79c7 solid;
}

.list{
    font-size: 22px;
    color: white;
    width: 580px;
    height: 110px;
    margin-left: 30px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}

strong{
    color: #4aa8f5;
    font-size: 40px;
}